@import "tailwindcss";

body{
  background-color: rgb(241, 241, 241);
  position: relative;
  /* padding-top: 2%; */
   font-family: 'Inter', sans-serif;
}


@keyframes slide-in-bottom {
  from{
    opacity: 0;
    transform: translateY(0);
  }
  to{
    opacity: 1;
    transform: translateY(1rem);
  }
}

@layer utilities {
  .animate-slide-in-bottom {
    animation: slide-in-bottom 300ms ease-out both;
  }
}